/* Общие отступы для таблицы */
table {
    width: 100%;
    border-collapse: collapse; /* Чтобы границы не накладывались друг на друга */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Отступы внутри ячеек таблицы */
table td, table th {
    padding: 2px 3px; /* Отступы внутри ячеек (слева/справа и сверху/снизу) */
    border: 1px solid #ddd; /* Границы ячеек */
    text-align: center; /* Центрируем текст в ячейках */
}

/* Для заголовков таблицы */
table th {
    font-weight: bold;
}

/* Для кнопки при наведении */
button:hover {
    background-color: #0056b3;
}

/* Для сообщения об ошибке или статуса */

